################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/TestGitProject/TestGitProject/obj
/TestGitProject/TestGitProject/bin/Debug/net5.0
